<html>
   <head>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
      <script type = "text/javascript" src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
         <link rel="stylesheet" href="/static/css/style.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">


   </head>
   
   <body>
      
      <div class="flex-main-container">

         <div class="container">
            <h1 class="header"><a class="header" href="/">PC Builder</a></h1>
         </div>

         <div class="flexbox-container" >
            <div class="flex-container" >
               <div class="dropdown">
                  <h1 class="dropdowntn">Menu</h1>
                  <div class="dropdownbn">
                     <a href="#">Chi siamo</a>
                     <a href="#">Contatti</a>
                  </div>
               </div>

            </div>

            <div class="wrap">
               <div class="search">
                  <input type="text" id="search" class="searchTerm" placeholder="Ricerca componenti">
                  <button type="submit" class="searchButton">
                  <i class="fa fa-search"></i>
               </button>
               </div>
            </div>

            <div class="flex-container">
               <div class="login_button">
                  <h1>Login</h1>
               </div>

            </div>
         </div>

         <div class="container">
            <h1><a href="/pc-configuration" id="pc-configuration">Configura il tuo PC</a></h1>
         </div>
         <div class="container">
            <div class="mainframe">
               <div class="filter">

               </div>
               <div class="flexbox-container">
                  <div class="choosen-items">
                     <table class="result-query-table">
                        <tr class="result-query-table-header">
                           <th  style="padding-bottom: 6px;text-align: center;">La tua build</th>
                           <th>Prezzo</th>
                           <th>Rimuovi</th>
                        </tr>
                         <tr>
                           <td id="Scheda Madre" class="choosen-item-single"></td>
                           <td id="Scheda Madre-price">€</td>
                           <td id="Scheda Madre-remove" label="Scheda Madre" onclick="removeItem(this)" class="remove">x</td>
                         </tr>
                        <tr>
                           <td id="CPU" class="choosen-item-single"></td>
                           <td id="CPU-price">€</td>
                           <td id="CPU-remove" label="CPU" onclick="removeItem(this)" class="remove">x</td>
                        </tr>
                        <tr>
                           <td id="GPU" class="choosen-item-single"></td> 
                           <td id="GPU-price">€</td>
                           <td id="GPU-remove" label="GPU" onclick="removeItem(this)" class="remove">x</td>
                        </tr>
                     </table>
                  </div>

                  <div class="result-query">
                     <table class="result-query-table">
                        <tr class="result-query-table-header">
                           <th>Prodotto</th>
                           <th>Tipo</th>
                           <th>Prezzo</th>
                        </tr>

                        {% for item in data %}
                        <tr class="result-query-table-row">
                           <td id="{{ item.name }}" type="{{ item.type }}" onclick="addItem(this)" class="result-query-item"> {{ item.name }}</td>
                           <td> {{ item.type }}</td>
                           <td> €</td>
                        </tr>
                        {% endfor %}

                     </table>
                     

                  </div>
               </div>

            </div>
         </div>
                 
         <footer class="footer">
            <div class="container">
               <h1>PC Builder</h1>
            </div>
         </footer>
      </div>


      <script>
         function addItem(data) {
            type = data.attributes[1].nodeValue;
            name = data.id;
            Cookies.set(type, name);
            document.getElementById(type).innerHTML = name;
         }

         function removeItem(data){
            id = data.attributes[1].nodeValue;
            idp = id + "-price";
            idr = id + "-remove";
            Cookies.remove(id);
            document.getElementById(id).innerHTML = "Scegli una " + id;
            document.getElementById(idp).innerHTML = "€";


         }

         document.addEventListener("DOMContentLoaded", () => {
            //THIS CODE NEEDS REFACTORING
            cpu = document.getElementById("CPU");
            gpu = document.getElementById("GPU");
            mb = document.getElementById("Scheda Madre");

            t = Cookies.get(cpu.id);
            
            if(t){
               cpu.innerHTML = t;
            }

            t = Cookies.get(gpu.id);
            if (t) { gpu.innerHTML = t};
            t = Cookies.get(mb.id);
            if (t) {mb.innerHTML = t};

         });

         jQuery(document).ready(function(){
            $("#search").autocomplete(
            {
               source: function( request, response ){

                  $.ajax({
                     url: "http://localhost:5000/api/search",
                     dataType: "json",
                     data: {
                        q: request.term
                     },
                     success: function( data ) {
                        response(data);
                     }
                  })

               },
            }
            );
         });
         

   </script>
   </body>
</html>