<html>
   <head>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
      <script type = "text/javascript" src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
         <link rel="stylesheet" href="/static/css/style.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   
   <body>
      
      <div class="flex-main-container">

         <div class="container">
            <h1 class="header"><a class="header" href="/">PC Builder</a></h1>
         </div>

         <div class="flexbox-container" >
            <div class="flex-container" >
               <div class="dropdown">
                  <h1 class="dropdowntn">Menu</h1>
                  <div class="dropdownbn">
                     <a href="#">Chi siamo</a>
                     <a href="#">Contatti</a>
                  </div>
               </div>

            </div>

            <div class="wrap">
               <div class="search">
                  <input type="text" id="search" class="searchTerm" placeholder="Ricerca componenti">
                  <button type="submit" class="searchButton">
                  <i class="fa fa-search"></i>
               </button>
               </div>
            </div>

            <div class="flex-container">
               <div class="login_button">
               {% if is_authenticated == False %}
                  <a href="/login"> <h1>Login </h1>  </a>
               {% else %}
                   <a href="/logout"> <h1>Logout</h1>  </a>
               {% endif %}
               </div>

            </div>
         </div>


         <div class="container">
            <div class="mainframe">
               <div class="filter">
                  <p> Filtro </p>
                  <div class="filter-inner">
                     <div class="filter-inner-minmax"> 
                        <p>EUR Minimo</p>
                        <input id="filter-min" type="text"> 
                     </div>
                     
                     <div class="filter-inner-minmax"> 
                        <p>EUR Massimo</p> 
                        <input id="filter-max" type="text">
                     </div>

                     <a class="filter-inner-searchb" href="/" onclick="changeUrl(this)" id="search-button">Cerca</a>

                     <div class="filter-inner-select">
                        <p>Componente</p>
                        <select id="select-option">
                           <option value=" "></option>
                           <option value="Scheda Madre">Scheda Madre</option>
                           <option value="CPU">CPU</option>
                           <option value="GPU">GPU</option>
                           <option value="RAM">RAM</option>
                           <option value="SSD">SSD</option>
                        </select>
                     </div>

                     <br>
                     
                  </div>

               </div>
               <div class="flexbox-container">
                  <div class="choosen-items">
                     <table class="result-query-table">
                        <thead>
                        <tr class="result-query-table-header">
                           <th style="padding-bottom: 6px;text-align: center;">La tua build</th>
                           <th style="padding-bottom: 6px;text-align: center;">Prezzo</th>
                           <th style="padding-bottom: 6px;text-align: center;">Rimuovi</th>
                        </tr>
                        </thead>
                        <tbody>
                         <tr>
                           <td id="Scheda Madre" class="choosen-item-single">Scegli una Motherboard</td>
                           <td id="Scheda Madre-price">€</td>
                           <td id="Scheda Madre-remove" label="Scheda Madre" onclick="removeItem(this)" class="remove">x</td>
                         </tr>
                        <tr>
                           <td id="CPU" class="choosen-item-single">Scegli una CPU</td>
                           <td id="CPU-price">€</td>
                           <td id="CPU-remove" label="CPU" onclick="removeItem(this)" class="remove">x</td>
                        </tr>
                        <tr>
                           <td id="GPU" class="choosen-item-single">Scegli una GPU</td> 
                           <td id="GPU-price">€</td>
                           <td id="GPU-remove" label="GPU" onclick="removeItem(this)" class="remove">x</td>
                        </tr>
                        <tr>
                           <td id="RAM" class="choosen-item-single">Scegli una RAM</td> 
                           <td id="RAM-price">€</td>
                           <td id="RAM-remove" label="RAM" onclick="removeItem(this)" class="remove">x</td>
                        </tr>
                        <tr>
                           <td id="SSD" class="choosen-item-single">Scegli una SSD</td> 
                           <td id="SSD-price">€</td>
                           <td id="SSD-remove" label="SSD" onclick="removeItem(this)" class="remove">x</td>
                        </tr>
                     </tbody>
                     </table>

                     <br>
                     {% if is_authenticated == False %}
                     <h3>Effettua il login per salvare la build</h3>
                     {% else %}
                    <div class="saved-builds-button">
                     <a href="/save-build" onclick="saveBuild()" id="save-build">Salva build</a>
                     <a href="/saved-builds">Le tue build</a>
                    </div>
                     {% endif %}
                  </div>

                  <div class="result-query">
                     <table class="result-query-table">
                        <thead>
                        <tr class="result-query-table-header">
                           <th>Prodotto</th>
                           <th>Tipo</th>
                           <th>Prezzo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data %}
                        <tr class="result-query-table-row">
                           <td id="{{ item.name }}" type="{{ item.type }}" price="{{ item.price }}" onclick="addItem(this)" class="result-query-item"> {{ item.name }}</td>
                           <td> {{ item.type }}</td>
                           <td> {{ item.price }} €</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                     </table>

                  </div>
               </div>

            </div>
         </div>
                 
         <footer class="footer">
            <div class="container">
               <h1>PC Builder</h1>
            </div>
         </footer>
      </div>


      <script>
         var parts = ["CPU", "GPU", "Scheda Madre", "RAM", "SSD"];
         function saveBuild() {
            href = "/save-build?"
            // Given the array of components names
            for( i=0; i<parts.length; i++){
               part = document.getElementById(parts[i]); 
               //Check if part stars with "Scegli una ..." 
               c = part.innerHTML;
               if (!c.startsWith("Scegli una")){
                  href = href + parts[i] + "=" + c + "&" // build href
               }
            }

            saveb = document.getElementById("save-build");
            saveb.href = href;

         }

         function changeUrl(){
            let str = String("/?");
            let min = document.getElementById("filter-min").value;
            let max = document.getElementById("filter-max").value;
            if ( max > 0){
               str = str + "priceMax=" + max + "&";
            }
            if ( min > 0 ){
               str = str + "priceMin=" + min + "&";
            }
            let searchButton = document.getElementById("search-button");
            let selected = String($( "#select-option option:selected" ).text());
            if (selected != '' ){
               str = str + "part=" + selected;
            }
            searchButton.href = str;
         }

         function addItem(data) {
            
            type = data.attributes[1].nodeValue;
            price = data.attributes[2].nodeValue;
            typeprice = type + "-price";
            name = data.id;
            Cookies.set(type, name);
            Cookies.set(typeprice, price);

            document.getElementById(type).innerHTML = name;
            document.getElementById(typeprice).innerHTML = price + " €";
         }

         function removeItem(data){
            id = data.attributes[1].nodeValue;
            idp = id + "-price";
            idr = id + "-remove";
            Cookies.remove(id);
            Cookies.remove(idp);
            document.getElementById(id).innerHTML = "Scegli una " + id;
            document.getElementById(idp).innerHTML = "€";

         }

         document.addEventListener("DOMContentLoaded", () => {
            for( i=0; i<parts.length; i++){
               part = document.getElementById(parts[i]);
               key = parts[i] + "-price";
               part_price = document.getElementById(key);

               if ( part ){
                  id = Cookies.get(parts[i]);
                  if ( id != undefined){
                     part.innerHTML = id;
                  }
                  price = Cookies.get(key);
                  if ( price != undefined){
                     part_price.innerHTML = price + " €";
                  }
               }
            }

         });

         jQuery(document).ready(function(){
            $("#search").autocomplete(
            {
               source: function( request, response ){

                  $.ajax({
                     type: "GET",
                     url: "/api/search",
                     dataType: "json",
                     data: {
                        q: request.term
                     },
                     success: function( data ) {
                        response(data);
                     }
                  })

               },
            }
            );
         });
         

   </script>
   </body>
</html>