<html>
   <head>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.js"></script>
      <script type = "text/javascript" src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
         <link rel="stylesheet" href="/static/css/style.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <script>

         jQuery(document).ready(function(){
            $("#search").autocomplete(
            {
               source: function( request, response ){

                  $.ajax({
                     url: "http://localhost:5000/api/search",
                     dataType: "json",
                     data: {
                        q: request.term
                     },
                     success: function( data ) {
                        response(data);
                     }
                  })

               },
            }
            );
         });

   </script>

   </head>
   
   <body>
      
      <div class="flex-main-container">

         <div class="container">
            <h1 class="header"><a class="header" href="/">PC Builder</a></h1>
         </div>

         <div class="flexbox-container" >
            <div class="flex-container" >
               <div class="dropdown">
                  <h1 class="dropdowntn">Menu</h1>
                  <div class="dropdownbn">
                     <a href="#">Chi siamo</a>
                     <a href="#">Contatti</a>
                  </div>
               </div>

            </div>

            <div class="wrap">
               <div class="search">
                  <input type="text" id="search" class="searchTerm" placeholder="Ricerca componenti">
                  <button type="submit" class="searchButton">
                  <i class="fa fa-search"></i>
               </button>
               </div>
            </div>

            <div class="flex-container">
               <div class="login_button">
                  <h1>Login</h1>
               </div>

            </div>
         </div>

         <div class="container">
            <h1><a href="/pc-configuration" id="pc-configuration">Configura il tuo PC</a></h1>
         </div>
         <div class="container">
            <div class="mainframe">
               <div class="filter">

               </div>
               <div class="flexbox-container">
                  <div class="choosen-items">

                  </div>
                  <div class="result-query">
                     {% for item in data %}
                        <p> {{ item }} </p>
                     {% endfor %}

                  </div>
               </div>

            </div>
         </div>
                 
         <footer class="footer">
            <div class="container">
               <h1>PC Builder</h1>
            </div>
         </footer>
      </div>


   </body>
</html>