<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>PC Builder</title>
</head>
<body>
    <div class="flex-main-container">
        <div class="container">
            <h1 class="header"><a class="header" href="/">PC Builder</a></h1>
         </div>

         <div class="flexbox-container">
            <h1 id="your-builds-header">Le tue build:</h1>
            <br> 
            {% if data|length > 0 %}
            <div class="build-list">
                {% for i in data %}
                <div class="build-list-item"> <a href="/saved-builds/{{ i[1] }}"> <h2 id="{{ i[1] }}"> {{ i[0] }} </h2> </a> </div>
                {% endfor %}
            </div>
            {% else %} 
            <div class="build-list" style="left: 25%;width: 20vw">
                Non hai alcuna build salvata, puoi crearne qualcuna dalla <a style="color:orange" href="/">Home</a>
            </div>
            {% endif %}
            
         </div>

         <footer class="footer">
            <div class="container">
               <h1>PC Builder</h1>
            </div>
         </footer>
    </div>
</body>
</html>